In [42]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")
os.chdir("/Users/yj.noh/Documents/GitHub")
print(os.getcwd())
plt.rcParams['font.family'] = 'AppleGothic'

/Users/yj.noh/Documents/GitHub

## 1. data_load

In [43]:
data = pd.read_csv("/Users/yj.noh/Desktop/gwacheon_cheongju.csv", encoding = "utf-8")
print(data.head(2))
print(data.isna().sum())

     ord_date  crm_time  action_hour    ord_work rgn1_nm  rgn2_nm  \
0  2023-11-05  2nd_time           10   pre_lunch    충청북도  청주시 상당구
1  2023-11-05  2nd_time           22  late_night    충청북도  청주시 서원구

  service_type   order_no                                      brms_rider_id  \
0        BMART  133418540  89DF90A190488879072A2C6B6E9CDE484FD1A8EAE3190A...
1        BMART  133479242  791F308EA19B00D2067DA79CDC997DF2889536DB271151...

  crm_group
0   chengju
1   chengju
ord_date         0
crm_time         0
action_hour      0
ord_work         0
rgn1_nm          0
rgn2_nm          0
service_type     0
order_no         0
brms_rider_id    0
crm_group        0
dtype: int64

In [44]:
# 청주시 하나로 합치기 
data['rgn2_nm'] = data['rgn2_nm'].replace(['청주시 흥덕구', '청주시 서원구'], '청주시_타겟')
data.head()

,ord_date,crm_time,action_hour,ord_work,rgn1_nm,rgn2_nm,service_type,order_no,brms_rider_id,crm_group
0,2023-11-05,2nd_time,10,pre_lunch,충청북도,청주시 상당구,BMART,133418540,89DF90A190488879072A2C6B6E9CDE484FD1A8EAE3190A...,chengju
1,2023-11-05,2nd_time,22,late_night,충청북도,청주시_타겟,BMART,133479242,791F308EA19B00D2067DA79CDC997DF2889536DB271151...,chengju
2,2023-11-05,2nd_time,20,late_night,충청북도,청주시_타겟,BMART,133473413,766B9B1B035526BA59DFB4A209DBE8547B39B37CAC12CE...,chengju
3,2023-11-05,2nd_time,23,late_night,충청북도,청주시_타겟,BMART,133481126,791F308EA19B00D2067DA79CDC997DF2889536DB271151...,chengju
4,2023-11-05,2nd_time,23,late_night,충청북도,청주시_타겟,BMART,133481213,791F308EA19B00D2067DA79CDC997DF2889536DB271151...,chengju

In [45]:
# crosstab 
table_1 = pd.crosstab(index = [data.crm_group, data.rgn2_nm], columns = [data.ord_date, data.ord_work])
table_1
#table_1.to_csv('CRM-effect-analyst-/table1.csv', index= True, encoding = "utf-8")

ord_date           2023-11-01                                           \
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch
crm_group rgn2_nm
chengju   세종특별자치시           4          2          0        1         0
          청주시 상당구          24         20          9        7         2
          청주시 청원구          16          9          1        2         0
          청주시_타겟          298        214        176      119        83
gyungi    강남구              49         36         53        8        11
          강동구              10          0          0        0         0
          과천시              78         28         54       39         9
          관악구              16         14          0        1         0
          광명시               0          0          0        0         0
          구로구               1          0          0        0         0
          군포시               0          0          0        0         0
          금천구               1          0          0        0         0
          동작구              24         18          6        2         2
          마포구               0          0          0        0         0
          서대문구              0          0          0        0         0
          서초구             243         80        205       55        41
          송파구               0          0          0        0         0
          안산시 상록구           0          0          0        0         0
          안양시 동안구           0          3          4        0         3
          안양시 만안구           3          0          0        0         0
          영등포구              1          0          0        0         0
          용산구               0          0          0        1         0
          의왕시               1          0          0        1         0

ord_date           2023-11-02                                           ...  \
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch  ...
crm_group rgn2_nm                                                       ...
chengju   세종특별자치시           0          0          0        0         0  ...
          청주시 상당구          19         17         12        4         2  ...
          청주시 청원구           8         14          0        0         0  ...
          청주시_타겟          315        239        216      118        71  ...
gyungi    강남구              32         30         62       15         9  ...
          강동구               0          0          0        0         0  ...
          과천시              77         23         53       23        23  ...
          관악구              15         11          4        0         0  ...
          광명시               0          0          0        0         0  ...
          구로구               0          0          0        0         0  ...
          군포시               0          0          0        0         0  ...
          금천구               0          2          0        0         0  ...
          동작구              19         10          7        0         0  ...
          마포구               0          0          0        0         0  ...
          서대문구              0          0          0        0         0  ...
          서초구             256         92        154       30        23  ...
          송파구               0          0          0        0         0  ...
          안산시 상록구           0          0          0        0         0  ...
          안양시 동안구           2          4          0        0         0  ...
          안양시 만안구           0          0          0        0         0  ...
          영등포구              1          0          0        0         0  ...
          용산구               0          0          0        0         0  ...
          의왕시               0          0          1        0         0  ...

ord_date           2023-11-06                                           \
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch
crm_group rgn2_nm
chengju   세종특별자치시           0          0          0        1         0
          청주시 상당구          25         19          0        2         0
          청주시 청원구           7          9          0        5         0
          청주시_타겟          339        202        164      137        68
gyungi    강남구              70         29         75       12         9
          강동구               0          0          0        0         0
          과천시              57         19         49       27        10
          관악구              22         33          7        1         0
          광명시               0          1          0        0         0
          구로구               0          0          0        0         0
          군포시               0          0          0        0         0
          금천구               1          1          0        0         0
          동작구              28         19         14       11         4
          마포구               0          0          3        0         0
          서대문구              0          0          0        0         0
          서초구             221        105        211       68        36
          송파구               0          0          0        0         0
          안산시 상록구           0          0          0        0         0
          안양시 동안구           3         11          1        1         0
          안양시 만안구           0          1          0        0         0
          영등포구              1          0          0        0         0
          용산구               0          0          0        0         0
          의왕시               0          2          0        0         0

ord_date           2023-11-07
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch
crm_group rgn2_nm
chengju   세종특별자치시           0          0          0        0         0
          청주시 상당구          14         26         17        8         0
          청주시 청원구           6         14          8        1         0
          청주시_타겟          419        213        224      153        77
gyungi    강남구              39         21         74        6        11
          강동구               0          0          0        0         0
          과천시              58         15         40       20         9
          관악구              16         16          4        0         1
          광명시               0          0          0        0         0
          구로구               0          0          0        0         0
          군포시               0          0          0        0         0
          금천구               0          0          0        0         0
          동작구              17         28          7        7         0
          마포구               0          0          0        0         0
          서대문구              0          0          0        0         0
          서초구             240         96        172       30        39
          송파구               0          0          0        0         0
          안산시 상록구           0          0          0        0         0
          안양시 동안구           2          1          1        2         0
          안양시 만안구           3          1          0        0         0
          영등포구              0          1          0        0         0
          용산구               0          0          0        0         0
          의왕시               0          2          1        1         0

[23 rows x 35 columns]

## 스킴별 달성/반응 
- 15~29 / 30~39 / 40~49 / 50건 이상
- 25~34 / 35~44 / 45~54 / 55건 이상

In [46]:
new_data = data.groupby(['brms_rider_id','crm_group' , 'crm_time', 'rgn2_nm'])['order_no'].count().reset_index()
new_data.rename(columns={'order_no': 'order_count'}, inplace=True)
print(new_data.head())

#new_data.to_csv("CRM-effect-analyst-/group_by.csv", encoding = "utf-8")

                                       brms_rider_id crm_group  crm_time  \
0  017890F1919069404DF7C588109CFE89A4FA7A68E176BA...    gyungi  1st_time
1  017890F1919069404DF7C588109CFE89A4FA7A68E176BA...    gyungi  1st_time
2  017890F1919069404DF7C588109CFE89A4FA7A68E176BA...    gyungi  2nd_time
3  017890F1919069404DF7C588109CFE89A4FA7A68E176BA...    gyungi  2nd_time
4  01C15611B4FFB3A2CE27273B1B82A4099FF3A5D9EC6553...    gyungi  1st_time

  rgn2_nm  order_count
0     강남구           16
1     서초구           39
2     강남구           18
3     서초구           55
4     서초구            3

In [49]:
def calculate_is_react(row):
    
    if row['crm_time'] == '1st_time' and row['rgn2_nm'] == '과천시':
        if row['order_count'] < 15:
            return "과천1_1"
        elif row['order_count'] <= 29:
            return "과천1_2"
        elif row['order_count'] <= 39:
            return "과천1_3"
        elif row['order_count'] <= 49:
            return "과천1_4"
        else:
            return "과천1_5"

    elif row['crm_time'] == '2nd_time' and row['rgn2_nm'] == '과천시':
        if row['order_count'] < 20:
            return "과천2_1"
        elif row['order_count'] <= 34:
            return "과천2_2"
        elif row['order_count'] <= 39:
            return "과천2_3"
        elif row['order_count'] <= 49:
            return "과천2_4"
        else:
            return "과천2_5"

    elif row['crm_time'] == '1st_time' and row['rgn2_nm'] == '청주시_타겟' : #in ['청주시 서원구', '청주시 흥덕구']:
        if row['order_count'] < 25:
            return "청주1_1"
        elif row['order_count'] <= 34:
            return "청주1_2"
        elif row['order_count'] <= 44:
            return "청주1_3"
        elif row['order_count'] <= 54:
            return "청주1_4"
        else:
            return "청주1_5"

    elif row['crm_time'] == '2nd_time' and row['rgn2_nm'] == '청주시_타겟' : # in ['청주시 서원구', '청주시 흥덕구']:
        if row['order_count'] < 35:
            return "청주2_1"
        elif row['order_count'] <= 44:
            return "청주2_2"
        elif row['order_count'] <= 54:
            return "청주2_3"
        elif row['order_count'] <= 69:
            return "청주2_4"
        else:
            return "청주2_5"
        
    else:
        return np.nan  

new_data['is_react'] = new_data.apply(calculate_is_react, axis=1)
print(new_data.head())

                                       brms_rider_id crm_group  crm_time  \
0  017890F1919069404DF7C588109CFE89A4FA7A68E176BA...    gyungi  1st_time
1  017890F1919069404DF7C588109CFE89A4FA7A68E176BA...    gyungi  1st_time
2  017890F1919069404DF7C588109CFE89A4FA7A68E176BA...    gyungi  2nd_time
3  017890F1919069404DF7C588109CFE89A4FA7A68E176BA...    gyungi  2nd_time
4  01C15611B4FFB3A2CE27273B1B82A4099FF3A5D9EC6553...    gyungi  1st_time

  rgn2_nm  order_count is_react
0     강남구           16      NaN
1     서초구           39      NaN
2     강남구           18      NaN
3     서초구           55      NaN
4     서초구            3      NaN

In [50]:
# 타입별로 몇 명의 라이더가 존재하는가 
react_count = new_data.groupby('is_react')['brms_rider_id'].nunique()
react_count

is_react
과천1_1     6
과천1_2     5
과천1_3     4
과천1_4     2
과천1_5     4
과천2_1    11
과천2_2     4
과천2_3     2
과천2_5     8
청주1_1    61
청주1_2    16
청주1_3     6
청주1_4     4
청주1_5    20
청주2_1    62
청주2_2     7
청주2_3     3
청주2_4    11
청주2_5    25
Name: brms_rider_id, dtype: int64

## 달성자들의 운행 패턴 비교

In [51]:
join_data = pd.merge(data, new_data[['brms_rider_id', 'is_react']], on = "brms_rider_id")
print(join_data.head())

     ord_date  crm_time  action_hour   ord_work rgn1_nm  rgn2_nm service_type  \
0  2023-11-05  2nd_time           10  pre_lunch    충청북도  청주시 상당구        BMART
1  2023-11-05  2nd_time           10  pre_lunch    충청북도  청주시 상당구        BMART
2  2023-11-05  2nd_time           10  pre_lunch    충청북도  청주시 상당구        BMART
3  2023-11-05  2nd_time           10  pre_lunch    충청북도  청주시 청원구        BMART
4  2023-11-05  2nd_time           10  pre_lunch    충청북도  청주시 청원구        BMART

    order_no                                      brms_rider_id crm_group  \
0  133418540  89DF90A190488879072A2C6B6E9CDE484FD1A8EAE3190A...   chengju
1  133418540  89DF90A190488879072A2C6B6E9CDE484FD1A8EAE3190A...   chengju
2  133418540  89DF90A190488879072A2C6B6E9CDE484FD1A8EAE3190A...   chengju
3  133419490  89DF90A190488879072A2C6B6E9CDE484FD1A8EAE3190A...   chengju
4  133419490  89DF90A190488879072A2C6B6E9CDE484FD1A8EAE3190A...   chengju

  is_react
0      NaN
1      NaN
2    청주2_1
3      NaN
4      NaN

In [53]:
react_data = join_data[join_data['is_react'].notnull()]
print(react_data.shape)

(21088, 11)

In [54]:
# crosstab 
table_1 = pd.crosstab(index = [react_data.crm_group, react_data.rgn2_nm], columns = [react_data.ord_date, react_data.ord_work])
table_1
#table_1.to_csv('CRM-effect-analyst-/table1.csv', index= True, encoding = "utf-8")

ord_date           2023-11-01                                           \
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch
crm_group rgn2_nm
chengju   청주시 상당구          48         40         18       10         4
          청주시 청원구          32         18          2        4         0
          청주시_타겟          578        428        344      229       166
gyungi    강남구              14          3         11        0         3
          과천시             155         56        107       78        18
          관악구               0          1          0        0         0
          광명시               0          0          0        0         0
          군포시               0          0          0        0         0
          동작구               0          0          1        1         0
          서초구              61         29         32       25         5
          안산시 상록구           0          0          0        0         0
          안양시 동안구           0          6          8        0         6
          안양시 만안구           6          0          0        0         0
          의왕시               2          0          0        2         0

ord_date           2023-11-02                                           ...  \
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch  ...
crm_group rgn2_nm                                                       ...
chengju   청주시 상당구          30         34         24        8         4  ...
          청주시 청원구          16         28          0        0         0  ...
          청주시_타겟          629        475        431      235       142  ...
gyungi    강남구               4          2          8        1         1  ...
          과천시             154         46        105       46        46  ...
          관악구               4          2          2        0         0  ...
          광명시               0          0          0        0         0  ...
          군포시               0          0          0        0         0  ...
          동작구               5          2          0        0         0  ...
          서초구              62         20         32        6         3  ...
          안산시 상록구           0          0          0        0         0  ...
          안양시 동안구           4          6          0        0         0  ...
          안양시 만안구           0          0          0        0         0  ...
          의왕시               0          0          2        0         0  ...

ord_date           2023-11-06                                           \
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch
crm_group rgn2_nm
chengju   청주시 상당구          50         38          0        4         0
          청주시 청원구          14         16          0       10         0
          청주시_타겟          677        402        322      272       134
gyungi    강남구              29          5         32        2         2
          과천시             114         37         97       54        20
          관악구               4          5          3        0         0
          광명시               0          2          0        0         0
          군포시               0          0          0        0         0
          동작구               0          7          6        0         0
          서초구              47         33         57       15         4
          안산시 상록구           0          0          0        0         0
          안양시 동안구           6         22          2        2         0
          안양시 만안구           0          2          0        0         0
          의왕시               0          4          0        0         0

ord_date           2023-11-07
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch
crm_group rgn2_nm
chengju   청주시 상당구          28         52         34       16         0
          청주시 청원구          12         28         16        2         0
          청주시_타겟          827        426        446      301       153
gyungi    강남구              11          4         10        1         0
          과천시             114         30         80       40        18
          관악구               2          1          4        0         0
          광명시               0          0          0        0         0
          군포시               0          0          0        0         0
          동작구               0          0          4        0         0
          서초구              44         14         28       12         4
          안산시 상록구           0          0          0        0         0
          안양시 동안구           4          2          2        4         0
          안양시 만안구           6          2          0        0         0
          의왕시               0          4          2        2         0

[14 rows x 35 columns]