In [155]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings("ignore")
os.chdir("/Users/yj.noh/Documents/GitHub")
print(os.getcwd())
plt.rcParams['font.family'] = 'AppleGothic'

/Users/yj.noh/Documents/GitHub

## 1. data_load

In [156]:
data = pd.read_csv("/Users/yj.noh/Desktop/data_icrm.csv", encoding = "utf-8")
print(data.head(2))
print(data.isna().sum())

                                              mem_no crm_group    ord_date  \
0  F9FE7A7229622C45B2A134CC612D821579B96EA8A13D41...   chengju  2023-11-03
1  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...   chengju  2023-11-05

   crm_time    ord_work rgn1_nm  rgn2_nm service_type      order_no  \
0  1st_time  late_night    충청북도  청주시 흥덕구    B1_SINGLE  T1N80000GH1W
1  2nd_time  lunch_peak    충청북도  청주시 서원구     B1_STACK  T1NA00008GT0

                                       brms_rider_id most_dlvry
0  F9FE7A7229622C45B2A134CC612D821579B96EA8A13D41...    청주시 흥덕구
1  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...    청주시 서원구
mem_no             0
crm_group          0
ord_date         103
crm_time         103
ord_work         103
rgn1_nm          103
rgn2_nm          103
service_type     103
order_no         103
brms_rider_id    103
most_dlvry         0
dtype: int64

In [157]:
print(data['mem_no'].nunique()) #303

303

In [158]:
data.groupby('most_dlvry')['mem_no'].nunique()

most_dlvry
과천시         16
서초구         97
청주시 서원구     64
청주시 흥덕구    126
Name: mem_no, dtype: int64

In [159]:
# 청주시 하나로 합치기 
data['rgn2_nm'] = data['rgn2_nm'].replace(['청주시 흥덕구', '청주시 서원구'], '청주시_타겟')
data['most_dlvry'] = data['most_dlvry'].replace(['청주시 흥덕구', '청주시 서원구'], '청주시_타겟')
data.head()

,mem_no,crm_group,ord_date,crm_time,ord_work,rgn1_nm,rgn2_nm,service_type,order_no,brms_rider_id,most_dlvry
0,F9FE7A7229622C45B2A134CC612D821579B96EA8A13D41...,chengju,2023-11-03,1st_time,late_night,충청북도,청주시_타겟,B1_SINGLE,T1N80000GH1W,F9FE7A7229622C45B2A134CC612D821579B96EA8A13D41...,청주시_타겟
1,E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...,chengju,2023-11-05,2nd_time,lunch_peak,충청북도,청주시_타겟,B1_STACK,T1NA00008GT0,E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...,청주시_타겟
2,E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...,chengju,2023-11-03,1st_time,late_night,충청북도,청주시_타겟,B1_STACK,T1N80000L7OF,E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...,청주시_타겟
3,E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...,chengju,2023-11-03,1st_time,late_night,충청북도,청주시_타겟,B1_STACK,T1N80000KBBI,E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...,청주시_타겟
4,E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...,chengju,2023-11-03,1st_time,dinner_peak,충청북도,청주시_타겟,B1_STACK,T1N80000C7PO,E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...,청주시_타겟

In [160]:
# crosstab 
table_1 = pd.crosstab(index = [data.crm_group, data.rgn2_nm], columns = [data.ord_date, data.ord_work])
table_1
#table_1.to_csv('CRM-effect-analyst-/table1.csv', index= True, encoding = "utf-8")

ord_date           2023-11-01                                           \
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch
crm_group rgn2_nm
chengju   세종특별자치시           4          2          0        1         0
          청주시 상당구          22         15          8        7         2
          청주시 청원구          13          5          1        2         0
          청주시_타겟          209        132         98       53        25
gyungi    강남구              49         34         53        3        11
          강동구              10          0          0        0         0
          과천시              74         24         51       37         9
          관악구               6         10          0        0         0
          광명시               0          0          0        0         0
          구로구               1          0          0        0         0
          군포시               0          0          0        0         0
          금천구               1          0          0        0         0
          동작구               9          9          5        1         2
          마포구               0          0          0        0         0
          서대문구              0          0          0        0         0
          서초구             231         65        187       41        35
          송파구               0          0          0        0         0
          안산시 상록구           0          0          0        0         0
          안양시 동안구           0          1          4        0         3
          안양시 만안구           3          0          0        0         0
          영등포구              1          0          0        0         0
          용산구               0          0          0        1         0
          의왕시               1          0          0        1         0

ord_date           2023-11-02                                           ...  \
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch  ...
crm_group rgn2_nm                                                       ...
chengju   세종특별자치시           0          0          0        0         0  ...
          청주시 상당구          19         15         12        4         2  ...
          청주시 청원구           7         14          0        0         0  ...
          청주시_타겟          234        174        118       52        22  ...
gyungi    강남구              32         29         61       11         9  ...
          강동구               0          0          0        0         0  ...
          과천시              77         20         52       21        22  ...
          관악구               9          6          2        0         0  ...
          광명시               0          0          0        0         0  ...
          구로구               0          0          0        0         0  ...
          군포시               0          0          0        0         0  ...
          금천구               0          2          0        0         0  ...
          동작구              14          3          2        0         0  ...
          마포구               0          0          0        0         0  ...
          서대문구              0          0          0        0         0  ...
          서초구             231         76        150       27        23  ...
          송파구               0          0          0        0         0  ...
          안산시 상록구           0          0          0        0         0  ...
          안양시 동안구           2          4          0        0         0  ...
          안양시 만안구           0          0          0        0         0  ...
          영등포구              1          0          0        0         0  ...
          용산구               0          0          0        0         0  ...
          의왕시               0          0          1        0         0  ...

ord_date           2023-11-06                                           \
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch
crm_group rgn2_nm
chengju   세종특별자치시           0          0          0        1         0
          청주시 상당구          20         19          0        2         0
          청주시 청원구           7          1          0        1         0
          청주시_타겟          253        123         85       68        25
gyungi    강남구              69         29         74       11         9
          강동구               0          0          0        0         0
          과천시              51         18         48       28         9
          관악구              20         27          7        1         0
          광명시               0          1          0        0         0
          구로구               0          0          0        0         0
          군포시               0          0          0        0         0
          금천구               1          1          0        0         0
          동작구              23         19         12        3         4
          마포구               0          0          3        0         0
          서대문구              0          0          0        0         0
          서초구             218         98        184       62        34
          송파구               0          0          0        0         0
          안산시 상록구           0          0          0        0         0
          안양시 동안구           3         11          1        1         0
          안양시 만안구           0          1          0        0         0
          영등포구              0          0          0        0         0
          용산구               0          0          0        0         0
          의왕시               0          2          0        0         0

ord_date           2023-11-07
ord_work          dinner_peak late_night lunch_peak off_peak pre_lunch
crm_group rgn2_nm
chengju   세종특별자치시           0          0          0        0         0
          청주시 상당구          11         18         15        8         0
          청주시 청원구           5         13          6        1         0
          청주시_타겟          300        140        112       64        33
gyungi    강남구              39         21         73        3        11
          강동구               0          0          0        0         0
          과천시              56         15         37       14         7
          관악구              10          3          4        0         0
          광명시               0          0          0        0         0
          구로구               0          0          0        0         0
          군포시               0          0          0        0         0
          금천구               0          0          0        0         0
          동작구              10          6          6        2         0
          마포구               0          0          0        0         0
          서대문구              0          0          0        0         0
          서초구             214         64        166       24        37
          송파구               0          0          0        0         0
          안산시 상록구           0          0          0        0         0
          안양시 동안구           2          1          1        2         0
          안양시 만안구           3          1          0        0         0
          영등포구              0          1          0        0         0
          용산구               0          0          0        0         0
          의왕시               0          2          1        1         0

[23 rows x 35 columns]

## 스킴별 달성/반응 
- 15~29 / 30~39 / 40~49 / 50건 이상
- 25~34 / 35~44 / 45~54 / 55건 이상

In [161]:
new_data = data.groupby(['mem_no', 'crm_time', 'rgn2_nm'])['order_no'].count().reset_index()
new_data.rename(columns={'order_no': 'order_count'}, inplace=True)
merged_data = pd.merge(data[['mem_no', 'crm_group', 'most_dlvry']], new_data, on='mem_no', how='outer')
merged_data['order_count'].fillna(0, inplace=True)

print(merged_data.head())

                                              mem_no crm_group most_dlvry  \
0  F9FE7A7229622C45B2A134CC612D821579B96EA8A13D41...   chengju     청주시_타겟
1  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...   chengju     청주시_타겟
2  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...   chengju     청주시_타겟
3  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...   chengju     청주시_타겟
4  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...   chengju     청주시_타겟

   crm_time rgn2_nm  order_count
0  1st_time  청주시_타겟          1.0
1  1st_time  청주시_타겟         34.0
2  2nd_time  청주시_타겟         25.0
3  1st_time  청주시_타겟         34.0
4  2nd_time  청주시_타겟         25.0

In [163]:
print(merged_data['mem_no'].nunique()) #303

303

In [164]:
def calculate_is_react(row):
    
    if row['crm_time'] == '1st_time' and row['rgn2_nm'] == '과천시':
        if 15 <= row['order_count'] <= 29:
            return "과천1_1"
        elif 30 <= row['order_count'] <= 39:
            return "과천1_2"
        elif 40 <= row['order_count'] <= 49:
            return "과천1_3"
        elif 50 <= row['order_count']:
            return "과천1_4"

    elif row['crm_time'] == '2nd_time' and row['rgn2_nm'] == '과천시':
        if 20 <= row['order_count'] <= 34:
            return "과천2_1"
        elif 35 <= row['order_count'] <= 49:
            return "과천2_2"
        elif 50 <= row['order_count'] <= 64:
            return "과천2_3"
        elif 65 <= row['order_count']:
            return "과천2_4"

    elif row['crm_time'] == '1st_time' and row['rgn2_nm'] == '청주시_타겟' : #in ['청주시 서원구', '청주시 흥덕구']:
        if 25 <= row['order_count'] <= 34:
            return "청주1_1"
        elif 35 <= row['order_count'] <= 44:
            return "청주1_2"
        elif 45 <= row['order_count'] <= 54:
            return "청주1_3"
        elif 55 <= row['order_count']:
            return "청주1_4"

    elif row['crm_time'] == '2nd_time' and row['rgn2_nm'] == '청주시_타겟' : # in ['청주시 서원구', '청주시 흥덕구']:
        if 35 <= row['order_count'] <= 44:
            return "청주2_1"
        elif 45 <= row['order_count'] <= 54:
            return "청주2_2"
        elif 55 <= row['order_count'] <= 69:
            return "청주2_3"
        elif 70 <= row['order_count']:
            return "청주2_4"
        
    else:
        return np.nan  

merged_data['is_react'] = merged_data.apply(calculate_is_react, axis=1)
print(merged_data.head())

                                              mem_no crm_group most_dlvry  \
0  F9FE7A7229622C45B2A134CC612D821579B96EA8A13D41...   chengju     청주시_타겟
1  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...   chengju     청주시_타겟
2  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...   chengju     청주시_타겟
3  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...   chengju     청주시_타겟
4  E16B01F06560A749FA7B3CB0629A263BEF914A9A3C753A...   chengju     청주시_타겟

   crm_time rgn2_nm  order_count is_react
0  1st_time  청주시_타겟          1.0     None
1  1st_time  청주시_타겟         34.0    청주1_1
2  2nd_time  청주시_타겟         25.0     None
3  1st_time  청주시_타겟         34.0    청주1_1
4  2nd_time  청주시_타겟         25.0     None

In [165]:
# 타입별로 몇 명의 라이더가 존재하는가 
react_count = merged_data.groupby('is_react')['mem_no'].nunique()
react_count

is_react
과천1_1     3
과천1_2     5
과천1_3     1
과천1_4     4
과천2_1     4
과천2_2     2
과천2_3     3
과천2_4     4
청주1_1    12
청주1_2     3
청주1_3     2
청주1_4    12
청주2_1     6
청주2_2     6
청주2_3     8
청주2_4    13
Name: mem_no, dtype: int64

In [166]:
#pd.crosstab(index = merged_data.is_react, columns = merged_data.rgn2_rename)
table  = merged_data.groupby(['is_react', 'most_dlvry'])['mem_no'].nunique()
table = pd.DataFrame(table)
table

                     mem_no
is_react most_dlvry
과천1_1    과천시              3
과천1_2    과천시              5
과천1_3    과천시              1
과천1_4    과천시              4
과천2_1    과천시              4
과천2_2    과천시              2
과천2_3    과천시              3
과천2_4    과천시              4
청주1_1    청주시_타겟          12
청주1_2    청주시_타겟           3
청주1_3    청주시_타겟           2
청주1_4    청주시_타겟          12
청주2_1    청주시_타겟           6
청주2_2    청주시_타겟           6
청주2_3    청주시_타겟           8
청주2_4    청주시_타겟          13

In [168]:
test = merged_data[((merged_data['is_react'] == '과천1_4') & (merged_data['most_dlvry'] == '서초구'))]
test['mem_no'].value_counts()

Series([], Name: count, dtype: int64)

In [170]:
test = merged_data[((merged_data['is_react'] == '과천2_4') & (merged_data['most_dlvry'] == '서초구'))]
test['mem_no'].value_counts()

Series([], Name: count, dtype: int64)

In [171]:
test = merged_data[(merged_data['is_react'] == '청주1_4')]['mem_no']
test2 = merged_data[(merged_data['is_react'] == '청주2_4')]['mem_no']

# print('청주1_4달성자 : ', test['mem_no'].value_counts())
# print('청주2_4달성자 : ' ,test2['mem_no'].value_counts())

name = pd.DataFrame(set(test).intersection(test2))
print('청주 공통 달성자 : ', name)

청주 공통 달성자 :                                                     0
0  469FD038FD0242610591C24158E8D8E59EF5873B9EEB94...
1  E118A57DE26310A47E0908F19C5F83671673B0BA2FD561...
2  BEE2E7B17714F3E1850FBC2F2A235C4FF6FE158928379A...
3  7D2CC42C9DB594624432EDDBEF4C5581BA8E89F9660493...
4  6FF7077C962915EDE64266C6FB256BC9A2A706A57525E4...
5  791F308EA19B00D2067DA79CDC997DF2889536DB271151...
6  D16A42663A08908B1E240719FBAF7F146FEE2E750E32BA...

In [172]:
test = merged_data[(merged_data['is_react'] == '과천1_4')]['mem_no']
test2 = merged_data[(merged_data['is_react'] == '과천2_4')]['mem_no']
# print('청주1_4달성자 : ', test['mem_no'].value_counts())
# print('청주2_4달성자 : ' ,test2['mem_no'].value_counts())

name = pd.DataFrame(set(test).intersection(test2))
print('과천 공통 달성자 : ', name)

과천 공통 달성자 :                                                     0
0  8990813FE59250E4BECB97E22D1E9B5B7E55C1A80985F7...
1  9C0287A6DC86C0605C4AEE6AAB3012E77C6EE1119B7689...

In [175]:
# 주요 픽업 지역 : 서초구 -> 7일동안 어디에서 활동했나
seocho = data[data['most_dlvry'] == '서초구']
print(seocho['mem_no'].nunique()) #97명

seocho['rgn2_nm'].value_counts()

97

rgn2_nm
서초구        4017
강남구        1124
동작구         325
관악구         197
마포구          35
과천시          15
강동구          15
영등포구         12
금천구           9
송파구           3
구로구           2
용산구           1
안양시 동안구       1
서대문구          1
Name: count, dtype: int64